ERP_BASE_URL=https://hngstage8da-55c7f5f769c8.herokuapp.com
ERP_API_KEY=your_api_key_here
LAKE_CONN=host=postgres-lake port=5432 dbname=lake user=lake password=lake
WAREHOUSE_CONN=postgresql://warehouse:warehouse@postgres-warehouse:5432/warehouse